body{
  font-family: 'Lekton', sans-serif;
  font-size: 18px;
}

ul, body {
  margin:0;
  padding: 0;
}


h1,h2, .skills-list {
  font-family: 'Alegreya', serif;
}

img{
  /* this is limiting the width of the image so it takes 100% af the parent maximum */
  max-width: 100%;
}

nav {
  background-color: #e7b9a1;
  position:fixed;
  z-index: 5;
  width:100%;
  height: 70px;
}

/* margin 0 is for top and bottom and 20px is for left and right */
nav ul li{
  display: inline-block;
  margin:0 20px;
  padding: 0;
  text-transform: lowercase;
  letter-spacing: 3spx;
  font-size: 16px;

}

nav ul{
  margins: 0 auto;
  text-align: center;
  padding: 24px;
}

li.empty {
  width: 120px;
    border-top: 1px solid black;
    top: -5px;
    position: relative;
}

nav li a{
  text-decoration: none;
  color:black;
}
nav li a:hover{
  text-decoration: underline;
}

header {
  top: 70px;
  position: relative;
  margin-bottom: 220px;
  background-color: white;
}

h1{
  font-size: 70px;
  line-height: 120%;
  margin-top: 125px;
  font-weight: normal;
}

h2{
  font-size: 30px;
  line-height: 130%;
  letter-spacing: 2px;
  font-weight: normal;
}

p{
  line-height: 145%;
}

ul li {
  list-style: none;
  margin: 10px 0px;
}

.about_me{
  margin-top: 100px;
  margin-bottom: 100px;
}

.about_me_photo{
  margin: 0;
}

.button{
  border: 1px solid black;
  text-decoration: none;
  color:black;
  padding: 10px 40px;
  margin-top: 60px;
  display:inline-block;
  border-radius: 1px;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

.button:hover{
  background: black;
  color:#fff;
}

.intro-img {
  box-shadow: 1px 2px 30px rgba(0,0,0,0.2);
  margin-top: 50px;
}

.skills-list{
  text-align: center;
  font-size: 30px;
  font-style: normal;
  letter-spacing: 9px;
  line-height: 180%;
  margin-bottom: 130px;
}

.project{
  margin: 20px 0px;
  padding: 40px;
}

.color_project{
  background-color: #e7b9a1
}

.project .button{
  margin-top: 10px;
}

footer h2 {
  font-size: 40px;
  text-align: center;
  line-height: 150%;
  margin: 100px 0px;
  margin-bottom: 100px;
}

footer {
  text-align: center;
}

.right-alignment {
  text-align: right;
}

.project-image{
    margin-top: 30px;
    border: 0px solid black;
    border-radius: 0px;
}


  .mobile-menu{
    background-color:transparent;
    border:none;
    color:#000;
    font-size: 22px;
    letter-spacing: 3px;
    cursor:pointer;
    padding: 20px;
    display: none;
    float: right;
  }

  .mobile-menu:focus{
    outline:none;
  }

@media screen and (max-width: 767px) {
    .about_me img{
      display: none;
    }

    .contact{
      margin: 20px 20px 20px 20px;

    }

    .navigation{
      display:none;
      flex-direction: column;
      width:100%;
    }

    .mobile-menu {
      display: block;
    }
  }

  .dropdown{
    position: relative;
    display: block;
  }


  .dropdown-content {
    display: none;
    right: 0;
    position: absolute;
    background-color: #fff;
    min-width: 100%;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 20px;
    text-transform: lowercase;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-transform: lowercase;
    font-weight:normal;
    text-align: center;
  }

  .show {
    display:block;
  }
